div.form-container {
    display: flex;
    padding: 10%;
    justify-content: center;
    align-items: center;
}

form#registration {
    padding-left: 5%;
}

div.auctionList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.auctionListElements {
    padding: 2%;
    display: block;
    text-align: center;
    border: 1px solid #949494;
    border-radius: 16px;
    background-color: floralwhite;
}

div#settingAuction {
    display: flex;
    justify-content: center;
}

div#settingAuction > * {
    padding-left: 3%;
}

div.auctionUsers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.auctionUsers > div {
    display: block;
    text-align: center;
    border: 1px solid #949494;
    border-radius: 16px;
    background-color: floralwhite;
    padding-left: 2%;
    padding-right: 2%;
}